.card{
    background-color: rgba(0, 0, 0, 0.80);
    cursor: pointer;
    width: 320px;
    height: 560px;
    border-radius: 13px;
    padding: 10px; 
    display: flex;
    justify-content:  center; 
    color: whitesmoke;
}

.card:hover{
    transform: scale(1.04);
}

.votes{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: start;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

h3{

    margin-left: 10px;
}

